.slider{
    width: 100%;
}
.slider-content {
position: relative;
height: 435px;
}
.slider__item{
height: 100%;
}
.slider-caption h1{
    color: #7dd5c9;
    font-size: 49px;
    margin: 12px 0;
    text-shadow: -1px 1px 0 #2d2d2f;
}
.slider-caption h4{
    font-size: 28px;
    color:#fff;
    }

.slider-caption button{
    padding:7px 20px;
    background-color:#DE6262;
    font-size: 17px;
    margin: 25px auto 10px auto;
    border: none;
    border-radius: 5px;

}
.slider-caption a{
text-decoration: none;
color: #fff;
line-height: 28px;
font-size: 19px;
}
.active{
    background: #7dd5c9;
    color: #222 !important;
}

.slider-caption button:hover{
    background: #C65858;
    cursor: pointer;
}
.slider-nav{
    display: flex;
   justify-content: center;
}
.slider-nav button{
    width: 312px;
    height: 70px;
    border: 1px solid #ccc;
    color: #999;
    cursor: pointer;
}
.slider-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slider-caption h3,
.slider-caption p {
    color: #fff;
    margin: 0;
}

.slider-caption p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.nav__item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    
}
.nav__item i{
    font-size: 24px;
}
.feature {
    padding: 50px 0;
    text-align: center;
}
.feature__name{
    font-size: 34px;
}

.feature__box-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 78px;
}
.feature__box{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature__box-des{
    max-width: 400px;
}
.feature__box-name{
    font-weight: 500;
}

.slider__text1{
    height:140px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}
.slider_1{
    background-color: red;
    width: 100%;
    padding-top: 45px !important;
    padding-bottom: 45px !important;
    background-color: #efefef !important;
}
.slider1{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
}
.slider-caption1{
    width: 1130px;
    padding:25px 60px 5px 60px;
}
.slider-content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider__item1{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}
.slider-center{
    text-align:center; 
    font-size: 17px;   
    padding:25px 0;
    font-weight: 300;
    line-height:30px;
}
.text-color{
    color: #5a5a5a;
}
.text1_title{
    line-height: 1.1;
    font-weight: bold;
    margin: 12px 0;
    font-size: 27px;

}
.text1_title1{
    font-size: 17px;
    text-align: center;
}
.nav__item1{
    width: 12px;
    height: 12px;
    border-radius: 50%;
   
}
.active1{
    background-color:  #999;
    opacity: 0.5;

}
.slider-nav1 button:hover{
    background-color:  #999;
    opacity: 0.5;
}

.slider-nav1 button{

    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:#869791;
    margin: 0 12px;
    cursor: pointer;
}
.hide__text{
    font-size: 18px;
    font-weight: bold;
    color: #6E6E6E;
}
.hide_text1{
    color: #DE6262;
}
.slider-nav1{
    height: 30px;
    margin-top:15px;
}
