*{
    margin: 0;padding: 0;
}

.btn {
    padding: 17px 40px;
    border: 0;
    background-color: #646464;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
    background-color: #de6262;
}
.container{
    width: 1250px;
    margin: 0 auto;


}



